/* Font-Face */
@font-face {
  font-family: "Dreams";
  src: url("../fonts/subset-CaviarDreams.eot");
  src: url("../fonts/subset-CaviarDreams.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-CaviarDreams.woff2") format("woff2"), url("../fonts/subset-CaviarDreams.woff") format("woff"), url("../fonts/subset-CaviarDreams.ttf") format("truetype"), url("../fonts/subset-CaviarDreams.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0040-U+005A; }

@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/subset-fontawesome.eot?286qlr");
  src: url("../fonts/subset-fontawesome.eot?286qlr#iefix") format("embedded-opentype"), url("../fonts/subset-fontawesome.ttf?286qlr") format("truetype"), url("../fonts/subset-fontawesome.woff2?286qlr") format("woff2"), url("../fonts/subset-fontawesome.woff?286qlr") format("woff"), url("../fonts/subset-fontawesome.svg?286qlr#subset-fontawesome") format("svg");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+f0f5,U+f277,U+f005; }

/* Color */
/* font size */
/** BreakPoint */
/* **************************************************** */
/* CSS Document */
body, td, th, p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #444;
  line-height: 1.5; }

body {
  background-color: #eee;
  margin: 0;
  position: relative; }

ol, ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #444; }

a {
  color: #8b0000;
  text-decoration: none; }

a:hover, a:focus {
  color: #ff9800;
  text-decoration: none; }

a img {
  border: none 0px #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px; }

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

#maincontent {
  background-color: #eee;
  min-height: 100%; }

#footer {
  background-color: #444;
  color: #eee;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase; }

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #444;
  text-align: center; }

nav h1 {
  margin: auto;
  line-height: 80px;
  position: relative; }

nav h1 a {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: "Dreams", Helvetica, Arial, sans-serif; }

nav h1 a:hover,
nav h1 a:focus {
  color: #ff9800; }

/* ====================== Logo ====================== */
.logo {
  width: 80px;
  height: 80px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0; }

.logo img {
  max-width: 100%; }

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #ff9800;
  color: #000;
  padding: 8px;
  z-index: 100; }

.skip-link:focus {
  top: 0; }

/* ====================== breadcrumb ====================== */
#breadcrumb ol {
  padding: 0;
  list-style: none;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  margin: 0;
  width: 100%;
  text-align: left; }

/* Display list items side by side */
#breadcrumb ol li {
  display: inline; }

/* Marge for breadcrumb */
#breadcrumb ol li:first-child {
  padding-left: 20px; }

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb ol li + li:before {
  padding: 8px;
  color: #000;
  content: "/\00a0"; }

/* Add a color to all links inside the list */
#breadcrumb ol li a {
  color: #8b0000;
  text-decoration: none;
  padding: 10px 0;
  display: inline-block; }

/* Add a color on mouse-over */
#breadcrumb ol li a:hover,
#breadcrumb ol li a:focus {
  color: #ff9800;
  text-decoration: underline; }

/* ====================== Map ====================== */
#map-container {
  height: 200px; }

#map,
#map-static {
  max-height: 400px;
  height: 100%;
  width: 100%; }

#map > div {
  background-color: transparent !important; }

#map-static {
  margin-top: -200px;
  text-align: center;
  display: none;
  overflow: hidden; }

#map-static img {
  margin: 0 -100%; }

#map a:focus,
#map div:focus {
  background-color: #ff9800;
  color: #000;
  padding: 8px;
  z-index: 100; }

@media screen and (min-width: 500px) {
  #map-container {
    height: 300px; }
  #map-static {
    margin-top: -300px; } }

@media screen and (min-width: 800px) {
  #map-container {
    height: 400px; }
  #map-static {
    margin-top: -400px; } }

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: auto;
  min-height: 50px;
  padding: 15px 0;
  background-color: #444;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

.filter-options h3 {
  color: white;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px; }

.filter-options select {
  background-color: #fff;
  border: 1px solid #ccc;
  font-family: Arial,sans-serif;
  font-size: 16px;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 190px; }

.filter-options select:focus {
  background-color: #ff9800; }

.filter-options i {
  color: white;
  font-size: 16px;
  vertical-align: middle; }

@media screen and (min-width: 500px) {
  .filter-options > div {
    margin: 0 auto;
    display: inline-block; } }

@media screen and (min-width: 800px) {
  .filter-options h3 {
    display: inline-block; }
  .filter-options > div {
    padding: 0 30px; } }

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #eee;
  list-style: outside none none;
  margin: 0;
  padding: 5px 15px;
  text-align: center;
  min-height: 100px; }

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  text-align: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0 10px 0;
  position: relative; }

#restaurants-list figure {
  width: 100px;
  display: inline-block;
  margin: 10px; }

#restaurants-list figure figcaption {
  display: none; }

#restaurants-list .restaurant-img {
  background-color: #eee;
  display: block;
  margin: 0;
  width: 100%; }

#restaurants-list li > div {
  margin: 10px; }

#restaurants-list li h2 {
  color: #8b0000;
  font-family: Arial,sans-serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1;
  margin: 5px 0;
  text-transform: uppercase; }

#restaurants-list li .restaurant-address {
  display: none; }

#restaurants-list li a {
  background-color: #8b0000;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  height: 28px;
  width: 60px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  line-height: 12pt; }

#restaurants-list li a:hover,
#restaurants-list li a:focus {
  -webkit-transition: 500ms;
  transition: 500ms;
  color: #000;
  background-color: #ff9800; }

#restaurants-list li > div p {
  margin: 0; }

#restaurants-list li > div p.restaurant-cuisine,
#restaurants-list li > div p.restaurant-neighborhood {
  font-size: 16px; }

@media screen and (min-width: 500px) {
  #restaurants-list li .restaurant-address {
    display: block; }
  #restaurants-list figure {
    width: 200px; }
  #restaurants-list li a {
    position: relative;
    width: 120px;
    height: auto;
    line-height: 1em;
    margin-top: 15px; } }

@media screen and (min-width: 800px) {
  #restaurants-list li {
    width: 275px;
    display: inline-block;
    margin: 5px; }
  #restaurants-list li a {
    margin: 15px auto 0 auto;
    display: block; }
  #restaurants-list figure {
    width: 200px;
    margin: 10px auto 20px auto;
    display: block; } }

@media screen and (min-width: 1000px) {
  #restaurants-list li {
    width: 325px; }
  #restaurants-list figure {
    width: 300px; } }

/* ====================== Restaurant Details ====================== */
.inside header {
  width: 100%; }

.inside #map-container {
  background: #eee none repeat scroll 0 0;
  right: 0;
  width: 100%; }

.inside #map {
  background-color: #eee;
  height: 100%;
  max-height: 400px;
  width: 100%;
  max-width: 640px;
  margin: 0 auto; }

.inside #footer {
  width: 100%;
  padding: 25px 0; }

.inside h2 {
  color: #8b0000;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  margin: 15px 10px 5px 10px; }

@media screen and (min-width: 800px) {
  .inside #map-container {
    width: 47%;
    display: inline-block; } }

/* Restaurent */
#restaurant-name {
  color: #8b0000;
  font-family: Arial,sans-serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0;
  padding: 15px 0;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.1; }

#restaurant-cuisine {
  background-color: #444;
  color: #eee;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase; }

#restaurant-container figcaption {
  display: none; }

#restaurant-container div:first-child {
  text-align: center; }

#restaurant-container div:nth-child(3) {
  margin: 0 10px; }

#restaurant-hours {
  width: 100%;
  max-width: 350px;
  background-color: #fff;
  border-left: solid 2px #ccc;
  padding: 5px 10px;
  margin: 0 auto; }

#restaurant-operatinghours h3 {
  margin-top: 10px; }

#restaurant-address {
  font-weight: bold;
  color: #666;
  margin: 5px 15px;
  font-size: 16px; }

#reviews-container {
  padding: 15px;
  text-align: left; }

#reviews-list {
  margin: 0;
  padding: 0; }

#reviews-list li {
  background-color: #fff;
  display: block;
  list-style-type: none;
  overflow: hidden;
  position: relative;
  border: 2px solid #ccc;
  width: 100%;
  margin: 5px 0 10px 0; }

#reviews-list li p {
  margin: 10px;
  display: inline-block; }

#reviews-list li p:first-child {
  font-weight: bold; }

#reviews-list li span {
  margin: 0 10px; }

#reviews-list li i {
  line-height: 1.5;
  color: #8b0000; }

@media screen and (max-width: 499px) {
  #reviews-list .blur {
    height: 130px;
    overflow-y: hidden;
    cursor: pointer; }
  #reviews-list .blur:before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    width: 250px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(80%, white));
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white 80%);
    height: 25px; }
  #reviews-list li.blur:after {
    content: "...";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 10px;
    width: 100%;
    font-size: 24px;
    color: black;
    text-align: right; }
  #reviews-list li.blur:hover:after {
    color: #8b0000; } }

#restaurant-hours td {
  color: #666; }

@media screen and (min-width: 500px) {
  #reviews-list li > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #reviews-list li span {
    margin: 10px 10px 0 10px; }
  #reviews-list li i {
    margin-top: 10px; }
  #reviews-list li p {
    margin: 10px; } }

@media screen and (min-width: 800px) {
  #restaurant-operatinghours {
    width: 47%;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px; } }

/* ============================ footer ================== */
footer a {
  padding: 15px 0;
  color: #eee;
  text-decoration: underline; }

footer a:hover,
footer a:focus {
  color: #ff9800; }

/* ============================= FontAwesome =============== */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit; }

.fa-cutlery:before {
  content: "\f0f5"; }

.fa-map-signs:before {
  content: "\f277"; }

.fa-star:before {
  content: "\f005"; }
